html, body {
  height: 100%;
  font-size: 3vmin;
  margin: 0;
  padding: 0;
  width: 100%;
}

canvas {
  height: 100%;
  position: absolute;
  width: 100%;
}

.header {
  align-items: center;
  color: #ccc;
  display: flex;
  font-style: italic;
  height: 30%;
  justify-content: space-between;
  line-height: .5rem;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header .card {
  align-items: center;
  background: linear-gradient(45deg, rgba(26, 188, 156, .35), rgba(41, 128, 185, .35));
  border-radius: .25rem;
  box-shadow: -.15rem -.15rem .5rem white,
               0rem  0rem .05rem white;
  display: flex;
  height: 7.5rem;
  justify-content: space-around;
  margin-left: 3rem;
  width: 18rem;
}

.header .card .profile {
  border: .25rem double #ccc;
  height: 75%;
  margin-left: .5rem;
  transform: rotate(-5deg);
}

.header .card .title {
  font-size: .75rem;
  height: 100%;
}

.header .card .title h3 {
  color: black;
}

.header .card .title span {
  color: white;
}

.header .card .title .skills {
  align-items: center;
  border-radius: .1rem;
  display: flex;
  justify-content: space-around;
  padding: .1rem;
}

.header .card .title .skills img {
  border-radius: 10%;
  box-shadow: -.05rem -.05rem .25rem black;
  cursor: pointer;
  height: 2rem;
}

.help {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-right: 5rem;
}

.help p {
  align-items: center;
  background: transparent;
  border: .05rem ridge #2980b9;
  border-radius: 35%;
  color: #2980b9;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

.footer {
  bottom: 0;
  color: #ccc;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.footer a {
  color: #ccc;
  font-style: italic;
  text-decoration: none;
}

.footer a:hover {
  text-shadow: -.10rem .10rem .15rem #2980b9;
}


[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Position tooltip below the element */
[data-tooltip]:before {
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  border-radius: .25rem;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 1rem;
  line-height: 1.2;
  padding: .5rem;
  position: absolute;
  right: 0%;
  text-align: center;
  top: 150%;
  visibility: hidden;
  width: 13rem;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
}
